*{
    box-sizing: inherit;
    padding: 0px;
    margin: 0px;
}
html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Spartan", sans-serif;
    box-sizing: border-box;
}
h1 {
    font-size: 5rem;
    line-height: 6.4rem;
    color: #222;
  }
  
  h2 {
    font-size: 4.6rem;
    line-height: 5.4rem;
    color: #222;
  }
  
  h4 {
    font-size: 2rem;
    color: #222;
  }
  
  h6 {
    font-weight: 700;
    font-size: 1.2rem;
  }
  
  p {
    font-size: 1.6rem;
    color: #465b52;
    margin: 15px 0 20px 0;
  }